body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:70%;
	font-weight:normal;
	margin:5px;
	color: white;
	/*#EFEFFB*/
	background: white;
}

/* Estilos para Login*/
.bodyLogin{    
    background: url(../images/Fondo1.png) repeat-x;
}
.centroLogin {
	width: 70%;	
	padding-top: 4%;
	padding-bottom: 9%;	
	padding-left: -10%;
}
.fondoImagenLogin {
	background: #E62727; 
	height: 100px;
}
.textoImagen1 {
	text-indent: 5%;
	font-family: Calibri;
	font-size: 24px;
	font-weight: bold;
	color: white;		
}
.textoImagen2 {
	text-indent: 5%;
	font-family: Calibri;
	font-size: 13px;
	font-weight: bold;
	color: white;
}
.tituloLogin {
	font-family: Calibri;
	font-size: 26px;
	font-weight: bold;
	color: gray;
}
.estilotextLogin {
	border: 1px solid #000000;
	height: 25px;
	font-size: 18px;
	width: 310px;
	color: black;
	font-weight: bold;	
}
.texto_normal {
	font-family: Calibri;
	font-size: 12px;
	font-weight: bold;
	color: black;
}
.titulos_secciones {
	font-family: Calibri;
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	color: #828282;
	padding-bottom: 10px;
	padding-top: 5px;
}
/* Fin Estilos Login*/

/* Estilos para Principal*/
.taprincipal1 {
	background: #fefefe; 
	width: 800px;
}
.taprincipal2 {
	width: 800px;
	text-align: center;
}
.tdmenu {
	width: 90px;
	height: 200px;	
}
/* Fin Estilos Principal*/

.texto-mediano2 {
	font-family: 'Calibri', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: black;
}
.texto_mediano {
	font-family: Calibri;
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.texto_derecha{
	text-align: right;
}
.texto_centro{
	text-align: center;
}
.error {
	font-family: Calibri;
	font-size: 14px;
	color: red;
	font-weight: bold;
}
.textoModal {
	font-family: 'Calibri', sans-serif;
	font-size: 14px;
	color: black;
	font-weight: bold;
	text-align: right;
}
.espacio_5 {
	height: 5px; 
}
.espacio_10 {
	height: 10px;
}
.espacio_15 {
	height: 15px;
}
.espacio_20 {
	height: 20px;
}

.tablaPrincipal
{
	background-color:#BDBDBD;
	width: 800px;
	border:1px solid #424242;
	
}

.tablaSecundaria
{
	background-color:#A4A4A4;
	/*E6E4DD;*/
	border:1px solid #BDBDBD;
	width: 790px;
}

.boton
{
	font-size: 9px;
	border: 0px;
	width: 90px;
	color: black;
	height: 20px;
	cursor:hand; 
}
.botonArchivo
{
	color: black; 	
}
.errorMessage
{
	font-size: 11px;
	font-family: Verdana, Helvetica;
	color: red;
}

.tabla
{
	align : center;
    width : 790px;
    border : 2;
    padding : 0;
    spacing : 0;
    Border-style : 0;
	border-spacing: 0;
	border-collapse: 0;
	/*background-color: #8F8B70;*/
	
}

.encabezadoTabla
{
	align : center;
	width : 785px;
	border : 0;
	padding : 0;
	spacing : 0;
	border-style : 0;
	background-color: #424242;
}
.encabezado
{
	font-family: Verdana, Helvetica;
	font-size: 10px;
	color: white;
}

.archivo
{
	background-color: red;
	border-color: green;
}
.errorMessage
{
	font-size: 10px;
	font-family: Verdana, Helvetica;
	color: red;
}
.respuesta
{
	font-size: 12px;
	font: : Verdana, Helvetica;
	color: #d90909;
}

.polizaAzul
{
	font-size: 11px;
	font: : Verdana, Helvetica;
	color: #2C4A94;
	font-weight: bold;
}

.importante
{
	font-size: 14px;
	font: : Verdana, Helvetica;
	color: #d90909;
}

.importante2
{
	font-size: 28px;
	font: : Verdana, Helvetica;
	color: #ffffff;
	font-weight: bold;
}

.tooltipH
{
	font-family: Verdana, Helvetica;
	font-size: 10px;
	font-weight: bold;
	background-color: #DF0101;
	padding: 5px;
	width: 150px;
	
	
}
.tooltipB
{
	font-family: Verdana, Helvetica;
	font-size: 10px;
	color: black;
	background: #DDDEDB;
	padding: 5px;
	width: 150px;
	
}

/********************* RICH FACES ***********************/
.rich-fileupload-list-overflow
{
	background-color: #DDDEDB;
}
.rich-fileupload-font
{
	color: black;
}
.rich-fileupload-anc
{
	font-weight:bold;
	color: #D90909
	text-decoration:none;
}

.rich-calendar-today
{
	background-color: red;
}
.rich-calendar-week
{
	background-color: #DDDEDB;
	color: black;
}


/************************************** Estilos para las tablas *****************************************/
table.botonera {
    margin: auto;
    border-spacing: 0px;
    border-collapse: collapse;
    empty-cells: show;
    width: 700px
    /*background: url(../images/background-botoneragral.gif) repeat-x;*/
}

table.botonera table {
    border-spacing: 0px;
    border-collapse: collapse;
    empty-cells: show;
    width: 100%;
}

table.botonera td.puntos {
    height: 3px;
    background: url(../images/background-plkpuntos-hor.gif) repeat-x;
}

table.botonera td.frameTL {
    width: 6px;
    height: 6px;
    padding: 0;
    background: url(../images/esq-formato-interior-izq-sup.gif) no-repeat left top;
}

table.botonera td.frameTC {
    padding: 0;
    background: url(../images/background-formato-interior-sup.gif) repeat-x;
}

table.botonera td.frameTR {
    width: 6px;
    height: 6px;
    padding: 0;
    background: url(../images/esq-formato-interior-der-sup.gif) no-repeat right top;
}

table.botonera td.frameBL {
    width: 6px;
    height: 6px;
    padding: 0;
    background: url(../images/esq-formato-interior-izq-inf.gif) no-repeat left bottom;
}

table.botonera td.frameBC {
    padding: 0;
    background: url(../images/background-formato-interior-inf.gif) repeat-x;
}

table.botonera td.frameBR {
    width: 6px;
    height: 6px;
    padding: 0;
    background: url(../images/esq-formato-interior-der-inf.gif) no-repeat right bottom;
}

table.botonera td.frameCL {
    padding: 0;
    background: url(../images/background-formato-interior-izq.gif) repeat-y;
}


table.botonera td.frameC {
    padding: 0;
    text-align: center;
}

table.botonera td.frameCR {
    padding: 0;
    background: url(../images/background-formato-interior-der.gif) repeat-y;
}

table.botonera td.linkItem {
    height: 25px;
}

table.botonera a:link, table.botonera a:active, table.botonera a:visited {
    color: #3F4C69;
    text-decoration: none;
}

table.botonera a:hover { 
    color: #C82E28;
    text-decoration: underline;
}

.detalleEncabezado{
	background-color: #FFFFFF;	
}
.detalleEncabezado2{
	background-color: #AACCD8;
}
.detalleInfo{
	background-color: #808080;	
}

/************************************** DRAG AND DROP **************************************/
.panel {
	background-color: #A4A4A4; 
	width: 100%;
}


/**************************************** CALENDARIO ***************************************/

.rich-calendar-days
{
	color: red;
}

.rich-calendar-editor-btn
{
	color: black;
}

.rich-calendar-time-btn
{
	color: black;
}

.rich-calendar-hover
{
	background-color: #A4A4A4;
}
		
.rich-calendar-boundary-dates
{
	background-color: #BDBDBD;
}


.rich-calendar-cell
{
	color: black;
}

.rich-calendar-toolfooter
{
	color: black;
}

/************************************** ESTILOS DIVS AND TABLAS **************************************/
.center_div {
	text-align: center;
}
.left_div {
	text-align: left;
}
.right-div {
	text-align: right;
}
.right-div1 {
	text-align: right;
	width: 12%;
}
.right-div2 {
	text-align: right;
	width: 22%;
}
.leftdivbo {
	text-align: left;
	font-weight: bold;
	color: black;
}
.leftdivbo1 {
	text-align: left;
	font-weight: bold;
	color: black;
	width: 17%;
}
.encabezado1 {
	text-align: center;
	width: 10%;
}
.encabezado2 {
	text-align: center;
	width: 4%;
	background-color: #d90909;
}
.encabezado3 {
	text-align: left;
	width: 64%;
}
.encabezado4 {
	text-align: right;
	width: 12%;
}
.encabezado5 {
	text-align: left;
	width: 10%;
}
.tablacen100b {
	text-align: center;
	width: 100%;
	background-color: white;
}
.tablaCen100 {
	text-align: center;
	width: 100%;
}
.tablaCen90 {
	text-align: center;
	width: 90%;
}
.tablacen80 {
	text-align: center;
	width: 80%;
}
.wid1por {
	width: 1%;
}
.wid5por {
	width: 5%;
}
.left80 {
	text-align: left;
	width: 80%;
}
.left30 {
	text-align: left;
	width: 30%;
}
.right15 {
	text-align: right;
	width: 15%;
}
.wid70por {
	width: 70%;
}
.wid100por {
	width: 70%;
}
.texwid15 {
	width: 15%;
	text-align: left;
}
.texwid30 {
	width: 30%;
	text-align: left;
	font-family: 'Calibri', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: black;
}
.texwid5 {
	width: 5%;
}
.wid10 {
	width: 10px;
}
.wid20 {
	width: 20px;
}
.wid30 {
	width: 30px;
}
.wid50 {
	width: 50px;
}
.wid60 {
	width: 60px;
}
.wid80 {
	width: 80px;
}
.wid100 {
	width: 100px;
}
.wid150 {
	width: 150px;
}
.wid170 {
	width: 170px;
}
.wid180 {
	width: 180px;
}
.wid200 {
	width: 200px;
}
.wid280 {
	width: 280px;
}
.wid290 {
	width: 290px;
}
.wid300 {
	width: 300px;
}
.wid350 {
	width: 350px;
}
.bor0 {
	border: 0;	
}
.text-area {
	width: 280px;
	height: 100px;
}
.borfieldset {
	border: 1px solid white;
}
.cellred {
	background-color: #d90909;
	text-align: center;
	font-weight: bold;
	color: white;
}
/************************************** END DIVS AND TABLAS **************************************/

#cortina {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;        									/* hacemos que ocupe toda la pantalla a cualquier resolución*/
	z-index: 50;        									/* lo colocamos por encima del resto de componentes*/
	background: url(../images/Cortina_blanca.png) repeat;	/*Color de fondo semitransparente*/
}

#popup{
	position: relative;
	top: 200px;
	height: 76px;
	width: 190px;
	z-index: 100;               							/* un z-index mayor al del blocker */
	background: url(../images/procesando.png) no-repeat;	/* Una imagen de fondo para que se vea sobre la capa anterior*/
	border: 1px solid #FFFFFF;
}

/*Para agregar un scroll a los modales */
.scroll-div {
 	overflow: scroll;
 	width:100%;
 	height:100%;
}
